.main-bg {
    background-color: firebrick;
    padding: 0 auto;
    margin: 0 auto;
    width: 100%;
    /* height: 100%; */
    /* background-color: #fad76e; */
    /* background-image: url(../../../assets/img/bg1.svg); */
    background: url(../../../../assets/img/bg-auth.svg) no-repeat;
    /* no-repeat center center */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover; 
}

.login-form {
    /* height: 100%; */
    margin: 20% 0 34% 0;
    /* background-color: forestgreen;    */
}

.custom-form {
    background-color: #fff;
}