/* @import url('https://fonts.googleapis.com/css?family=Neucha|Slabo+27px&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Caveat|Nunito:700|Pacifico&display=swap');
.main-bg{
    margin: 0;
    height: 100%;
    /* background: url(../../../assets/img/bg_new.svg)no-repeat center center; */
    /* background: url(../../../assets/img/1.png); */
    /* background-size: 50%;
    -webkit-filter: blur(0px); */
}


.modal.show {
  display: block;
}
.first-div {
    padding: 0 auto;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    /* background-color: #fad76e; */
    /* background-image: url(../../../assets/img/bg1.svg); */
    background: url(../../../assets/img/bg_new.svg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.heading {
  margin-top: 30%;
  font-family: 'Nunito', sans-serif;  
  font-size: 450%;
  line-height: 1em;
}
.heading-text {
  margin-top: 2%;
  font-family: 'Nunito', sans-serif;  
  font-size: 140%;
  
}
.main-text {
  margin-left: 6%;
  padding-left: 10%;
  /* text-align: center; */
}
.main-image{
  margin-top: 5%;
  margin-left: 3%;
  width: 550px;
  height: 550px;
}
.start-button {
  padding: 2% 4% 2% 4%;
  border-radius: 10px;
  background-color: #ff9359;
  border-width: 0;
  font-size: 80%;
  color: white;
}

.food-image {
  width: 220px;
  height: 225px;
}

.top-of-day{ 
  margin: 5% 0 3% 0;
}

.top-of-day-header-text { 
  font-family: 'Nunito', sans-serif; 
  font-size: 150%;
}

.all-posts {
  margin: 3%;
}

.post-block {
  width: 220px;
  height: 290px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  cursor: pointer;
}
