<div>
    <div class="first-div row">
      <div class="col-6 main-text">
        <div class="heading">
          Рецепты вашего счастья
        </div>
        <div class="heading-text">
          Ваши любимые рецепты из детства у вас на ладони.
          <p>Принесите кусочки домашнего уюта в  цифровой мир!</p>
          <div>
            <button class="start-button" (click)="router.navigate(['/register']);">
              Присоединиться!
            </button>
          </div>          
        </div>        
      </div>
      <div class="col-4 main-image">
        <img src="../../../assets/img/main_image.svg" alt="image" class="main_image">
      </div>
    </div>
  </div>
