<app-main></app-main>
<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <a class="navbar-brand" routerLink="/content">
        <img src="/assets/img/cookie.svg" width="60" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
    
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExample">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <b>
                  <a class="nav-link" href="#">Cooking book <span class="sr-only">(current)</span></a>
                </b>
            </li>
            <div *ngIf="!user">
                <li class="nav-item">
                    <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Вход</a>
                </li>
                <li class="nav-item">
                    <button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">logout</button>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="loginbtn" routerLink="register" routerLinkActive="active">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" *ngIf="logoutbtn" routerLink="content" routerLinkActive="active">Dashboard</a>
                </li>
            </div>
        </ul>
        <form class="form-inline my-2 my-lg-0" *ngIf="user">
                <img src="{{user.photoUrl}}"  width="60" height="60" class="user-profile">
                <a class="nav-link custom-profile-link" routerLink="/profile">{{user.name}}<span class="sr-only">(current)</span></a>
        </form>
    </div>
</nav>
<router-outlet></router-outlet> 