<app-main></app-main>
<nav class="navbar navbar-expand-lg navbar-light custom-navbar">
    <a class="navbar-brand" routerLink="/content">
        <img src="/assets/img/cookie.svg" width="60" height="60" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
    
    <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarsExample">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <b>
                  <a class="nav-link" href="#">Cooking book <span class="sr-only">(current)</span></a>
                </b>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login</a>
            </li>
            <li class="nav-item">
                <button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">logout</button>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="loginbtn" routerLink="register" routerLinkActive="active">Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="logoutbtn" routerLink="content" routerLinkActive="active">Dashboard</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<router-outlet></router-outlet> 